body {
    background-image: url("../images/Rainier.jpg");
    background-size:1800px auto;
    background-repeat: no-repeat; 
    vertical-align: auto 
}

.container {
    text-align: left;
    font-weight: bold;
}

.currentword {
    text-align: center;
    color: rgb(5, 5, 5) 190, 240);
}